doctype html
html
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{name}'s Dashboard
    body
        h1 Welcome, #{name}
        p your birthday is #{birthday.month} #{birthday.day}, #{birthday.year}